@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("/css/clash-display.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fff9f2;
}

@media only screen and (width <= 639px) {
  .cl-avatarBox {
    width: 2.5rem;
    height: 2.5rem;
  }
}
